[Unit]
Description=my_remote
After=network.target

[Service]
ExecStart=sh /home/pi/my_remote/main.sh
WorkingDirectory=/home/pi/my_remote
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
