[Unit]
Description=OpenRemoteHub
After=network.target

[Service]
ExecStart=bash /home/pi/OpenRemoteHub/main.sh
WorkingDirectory=/home/pi/OpenRemoteHub
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
